:root {
    /*color*/
    --white:  rgb(253, 254, 255);
    --pastelred:#fd6a6a;
    --lighsalmonpink:#ffa3a3;
    --lavenderblue: #c7d8fc;
    --gargoylegas: #ffdc40;
    --deeplemon: #fed521;
    --mustard: #ffe56f;
    --lighsilver: #d2d6df;
    --nickle: #6e7276;
    --black: #010101;


    --fs-1: 6.5rem;
    --fs-2: 3.2rem;
    --fs-3: 2.4rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.5rem;
    --fs-7: 1.1rem;
    --fs-8: 1rem;
    --fs-9: 0.1rem;
}

/*------REUSE-------*/
body {
    font-family: 'Balsamiq Sans', sans-serif;
}
a {
    text-decoration: none;
}
p {
    color:var(--nickle);
    line-height: 4vh;
}
h1{
    font-size: var(--fs-3);
    letter-spacing: 0.5rem;
    margin-bottom: 20px;
}
h3{
    color: var(--pastelred);
    font-weight: lighter;
    font-size: var(--fs-6);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    
}
/*----NAVBAR-----*/
.nav-main {
    background-color: rgba(255, 255, 255, 0.63);
    display: flex;
    justify-content: space-between;
    position: fixed;
    min-width: 100%;
    min-height: var(--fs-1);
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
    align-items: center;
    z-index: 999;
}
.nav-main ul {
    display: inline-flex;
    list-style: none;
    margin-right: 10%;
}
.nav-main li a {
    font-size: var(--fs-7);
    color: #010101;
    font-weight: 500;
    padding: 0 25px 0 20px;
    letter-spacing: var(--fs-9);
}
.nav-main li a:hover{
    color: var(--pastelred);
}
.nav-logo{
    margin-left: 10%;
}
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.hero-main{
    position: relative;
    grid-column: 3 span;
    margin-top: var(--fs-1);
}

.hero-image {
    position: relative;
    background-image: url(img/hero-image.png);
    background-size:cover;
    background-position: center;
    height: 699px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.hero-image-content-text {
    grid-column: 1/3;
    grid-row: 3;
    max-width: 500px;
    left: 30%;
    top: 13%;
    text-transform: capitalize;
    text-align: justify;
    top: -2%;
}
.hero-image-content-text h1{
    letter-spacing: normal;
}
.hero-learnmore-btn{
    position: relative;
    background-color: var(--gargoylegas);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 30px;
    padding:2.5% 5% 2.5% 5%;
    top: 10%;
    font-size: 15px;
    letter-spacing: 0.2rem;
   
}
/* Pseudo-element untuk border di tengah */
.hero-learnmore-btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px dashed var(--white); 
    border-radius: 30px;
    width: calc(100% - 5px); 
    height: calc(100% - 5px); 
    box-sizing: border-box;
    pointer-events: none; 
}

.hero-learnmore-btn:hover {
    background-color:var(--deeplemon);
    background-color: rgba(0, 0, 0, 0);
}
.hero-image-icon {
    grid-column: 5;
    grid-row: 3;
    top: -10%;
    left: 15%;   
}

.hero-image-icon, 
.hero-image-cloud-left-icon, 
.hero-image-content-text, 
.hero-image-cloud-right-icon,
.hero-image-content-text,
.hero-image-sun-icon{
    position: relative;
}
.hero-learnmore-btn, 
.hero-image-sun-icon{
    transition: all 0.25s ease;
}
.hero-image-sun-icon {
    background-image: url(img/sleepysun.webp);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 32%;
    left: -18%;
    cursor: pointer;
}

.hero-image-sun-icon:hover {
    background-image: url(img/sunrise.webp);
    transform: rotate(10deg);
    
}
.hero-image-cloud-left-icon {
    top: -35%;
    left: 43%;
    width: 180px;  
}
.hero-image-cloud-right-icon {
    top: -59%;
    left: -33%;
    width: 180px;
}
/*
.program-great-teacher-card {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: wheat;
    
  
}
.program-icon-great-teacher img {
    width: 100px;
    margin: 10px auto; 
}
.program-content h2 {
    text-align: center;
    color: aliceblue;    
}
  

.program-great-teacher-card:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px dashed rgb(53, 154, 255); 
    border-radius: 30px;
    width: calc(100% - -10%); 
    height: calc(100% - -10%); 
    box-sizing: border-box;
    pointer-events: none;
}
*/
.program-main {
    margin: 125px  60px 125px 40px;
    grid-column: 3 span;  
}
.program-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 1rem 1rem;
    margin: 0 -0.05% 0 0%;
}
.program-content img {
    display: block;
    margin: auto;
    padding: 30px;
}
.program-content h3 {
    padding-top: 17px;
    letter-spacing: 1.7px;
}
.program-icon-great-teacher,
.program-icon-quality-care,
.program-icon-playground,
.program-icon-curriculum {
    width: 130px;
    height: 130px;
    border-radius: 50%; 
}

.program-icon-great-teacher {
    background-color: var(--lighsalmonpink);
}
.program-icon-quality-care {
    background-color: var(--mustard);
}
.program-icon-playground {
    background-color: var(--lavenderblue);
}
.program-icon-curriculum {
    background-color: var(--lighsilver);
}
.about-main {
    grid-column: 3 span;
    background-color: var(--lavenderblue)
}
.about {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    height: 600px;
    margin: 120px  220px 100px 190px;
}
.about-text {
   margin-top: 0;
    
}
.about-text h1 {
    letter-spacing: 0.5rem;
    margin-bottom: 20px;
}
.about-text span{
    margin-right: 4%;
    padding:0 2.5%;
    background-color: var(--lighsalmonpink);
    color: var(--black);
    border-radius: 50%;
    text-align: center;
    font-size: var(--fs-4);
}
hr {
    margin-left: 12%;
}
.gallery-main {
    display: grid;
    grid-column: 3 span;
    height: 600px;
    margin: 60px 220px 0px 190px;
}
.gallery-title {
    display: block;
    margin: auto;
    text-align: center;
    margin: 150px 0 50px 0;
    letter-spacing: 0.5rem;
}
.gallery-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
    overflow-x: hidden;
    max-width: 100%;
    height: 500px;
}
.gallery-content img {
    border-radius: 20px;
    width: 780px;
    height: 500px;
   
}
.gallery-image1, 
.gallery-image4 {
    background-position: center;
    
    background-size: cover;
    border-radius: 20px;
} 
.gallery-image1 {
    grid-column: 2 span;
    
}
.gallery-image4 {
    grid-column: 2 span;
}
.gallery-image1:hover .img-cover,
.gallery-image2:hover .img-cover,
.gallery-image3:hover .img-cover,
.gallery-image4:hover .img-cover,
.gallery-image5:hover .img-cover,
.gallery-image6:hover .img-cover {
    transform: scale(1.03);
    opacity: 0.6;
    
}
.teachers-main {
    display: grid;
    grid-column: 3 span;
    background-color: var(--lavenderblue);
    margin-top: 450px; 
}
.teachers-main h3 {
    margin-top: 150px;
}
.teacher-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 120px 70px 120px 60px;
}
.teacher-frame-card {
    background-color: var(--white);
    width: 70%;
    height: 90%;
    display: flex;
    justify-self: center;
    transform: rotate(-2deg);
    
    
}
.teacher-frame-card img {
}
.teacher1 {
    width: 700px;
    transform: rotate(2deg);
   
   
}
.teacher-content {
    display: block;
    width: 80%;
    text-align: center;
    padding: 50px 0 80px 0;
    margin-left: 25px;
    letter-spacing: 0.1rem;
    line-height: 2.2rem;
    
}
.teacher-content p {
    font-size: 13px;
    letter-spacing: normal;
}
.teacher-content ul {
    display: flex;
    list-style: none;
    padding: 0;
}
.teacher-content li { 
    
}
.teacher-content a img {
    width: 20px;
    margin: 70px 20px;
}
.paper-pin {
    width: 20%;
    height: 15%;
    position: relative;
    top: -8%;
    left: 3%;
}
.footer-main {
    display: grid;
    grid-column: 3 span;
}
.footer-content {
    display: flex;
    justify-content: space-around;
    margin: 50px 0px 0 140px;
}
.footer-copyright h2 {
    font-size: 15px;
    margin-top: 20px;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
}
li {
    list-style: none;
}
.footer-nav ul, .footer-kontak ul {
    display: flex;
    margin: 80px;
}
.footer-nav li a {
    font-size: var(--fs-7);
    color: #010101;
    font-weight: 500;
    padding: 0px 20px 0 20px;
    letter-spacing: var(--fs-9);
}
.footer-nav li a:hover{
    color: var(--pastelred);
}
.footer-kontak a img {
    width: 25%;
    
}